[Desktop Entry]
Name=NovProg
GenericName=Wordcount Graphing Program
Exec=novprog2
Icon=novprog2
Terminal=false
Type=Application
Categories=Qt;Utility;
