[Desktop Entry]
Name=NovProg
Name[de]=NovProg
Name[el]=NovProg
Name[es]=NovProg
Name[fr]=NovProg
Name[he]=NovProg
Name[lt]=NovProg
Name[nl]=NovProg
Name[pl]=NovProg
Name[ro]=NovProg
Name[ru]=NovProg
Name[tr]=NovProg
GenericName=Wordcount Graphing Program
GenericName[de]=Ein grafisches Programm zum Wörter zählen
GenericName[el]=Πρόγραμμα γραφικής απεικόνισης καταμέτρησης κειμένου
GenericName[es]=Programa de graficación de recuento de palabras
GenericName[fr]=Programme de suivi statistique de comptage de mots
GenericName[he]=תוכנית תרשים מונה מילים
GenericName[lt]=Žodžių apskaitos vaizdavimo programa
GenericName[nl]=Applicatie voor weergave van het aantal woorden in een grafiek
GenericName[pl]=Program graficzny podsumowania liczby słów
GenericName[ro]=Program contorizare grafică a cuvintelor
GenericName[ru]=Программа для графического подсчёта слов
GenericName[tr]=Kelime Sayısı Grafiği Programı
Comment=Track your novel progress
Comment[de]=Verfolgen Sie Ihren Fortschritt einen Roman zu schreiben
Comment[el]=Παρακολουθήστε την πρόοδο των έργων σας
Comment[fr]=Suivez l'avancement de l'écriture de votre roman
Comment[lt]=Sekite savo novelės eigą
Comment[nl]=Houdt uw romanvoortgang bij
Comment[pl]=Postęp powieści
Comment[ro]=Urmăriţi progresul romanului dvs.
Exec=novprog
Icon=novprog
Terminal=false
Type=Application
Categories=Qt;Office;Chart;
